/* style.css */
.chat-bubble {
    padding: 10px 20px;
    border-radius: 25px;
    margin: 10px;
    display: inline-block;
    max-width: 70%; /* Set a max-width for the bubbles */
}

.agent-left .chat-bubble {
    background-color: #e0e0e0;
    float: left; /* Ensure left alignment */
}

.agent-right .chat-bubble {
    background-color: #0084ff;
    color: white;
    float: right; /* Ensure right alignment */
}

/* Clear floats after the bubbles */
.chat-message {
    overflow: auto;
}

.agent-name {
    display: block; /* or inline-block, depending on your layout */
    margin-bottom: 5px; /* Adjust as needed */
    /* Add any additional styling as needed */
}

.agent-left .chat-bubble::after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-top-color: #e0e0e0;
    left: 0;
    bottom: 0;
    transform: translate(-100%, 50%);
}

.agent-right .chat-bubble::after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-top-color: #0084ff;
    right: 0;
    bottom: 0;
    transform: translate(100%, 50%);
}
